/* Luis A. Castellanos Jr. */
/* For Assgnment HTML site for CISC 375*/

/* Add a black background color to the top navigation */

/*HTML ELEMENTS*/

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	font-size: 30px;
	color: #222;
	background-color: #f8f8f8;
	background-image: url(http: //4.bp.blogspot.com/-VjyYAcj_KVo/Uh9zEXpyo1I/AAAAAAAAHFA/8JHWkJLgx_M/s1600/Photo-Background-Paper1.jpg);
		margin: 5px 0 5px 0;
	padding: .25em;
	height: 100%;
	box-sizing: relative;
}

h1 {
	font: bold .25rem;
	margin: auto;
}

p {
	font: Arial, sans-serif;
	margin: auto;
}

footer {
	display: block;
}

/* CLASSES */

.floatLeft {
	float: left;
	padding: 14px 16px;
	border-radius: 50px 20px;


}

.floatRight {
	float: right;
}

.small {
	font-size: small;
}

.navbar {
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
	float: left;
	font-family: Arial;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

/* Change the color of links on hover */
.navbar a:hover {
	background-color: white;
	color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
	/*background-color: #7808e8;*/
	background-color: grey;
	color: whitesmoke;
}

/* Gallery Styling */

.gallery {
	width: fill;
	border: 2px solid black;
	margin: 1px;
	float: inline;
	height: auto;
}

.gallery:hover {
	border: 4px solid white;
}

.gallery img {
	width: 100%;
	height: auto;
}

/* Animation/Modal Preview for images */

.myImg {
	cursor: pointer;
	transition: 0.4s;
	display: block;

}

.myImg:hover {
	opacity: 0.4;
}


/**/

/*Light box image size*/
.display{
	width: 50%;
	height: auto;
}
/* Create four equal columns that floats next to eachother */
.column {
	float: left;
	width: 25%;
}

/*modal and light box classes*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

img.demo {
	opacity: 0.6;
}

.active:hover {
	opacity: 1;
}

.demo:hover {
	opacity: 1;
}

/*End of Lightbox*/


/* Keep the footer down */
.footer {
	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;

	font-size: small;
	padding: 0.5%;
	background-color: black;
	color: white;
	text-align: center;
}
