/* Luis A. Castellanos Jr. */
/* For Assgnment HTML site for CISC 375*/

/*HTML ELEMENTS*/
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*Contain elements within box*/
*{
	box-sizing: border-box;
}

body {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	font-size: 30px;
	color: #222;
	background-color: #f8f8f8;
	background-image: url(http: //4.bp.blogspot.com/-VjyYAcj_KVo/Uh9zEXpyo1I/AAAAAAAAHFA/8JHWkJLgx_M/s1600/Photo-Background-Paper1.jpg);
		margin: 5px 0 5px 0;
	padding: .25em;
	height: 100%;
	box-sizing: relative;
}

h1 {
	font: bold .25rem;
	margin: auto;
}

p {
	font: Arial, sans-serif;
	margin: auto;
}

footer {
	display: block;
}

/*To Do list classes*/
/* Reduce margins and padding */
ul {
	margin: 0;
	padding: 0;
}

/* Style the list items */
ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #bababa;
	color: white;
	font-size: 18px;
	transition: 0.2s;

	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Set a grey white style */
ul li:nth-child(odd) {
	background: #d16060;
}

/* Darker color hover */
ul li:hover {
	background: #3f59e8;
	color: white;
}

/* When an item is marked complete, strike and invert color */
ul li.checked {
	background: black;
	color: #fff;
	text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

/* Option to delete with an X button, far right of list */
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: px px px px;
}

/*Red background when hovering the X button*/
.close:hover {
	background-color: red;
	color: white;
}

/* Style the header */
.header {
	background-color: black;
	padding: 15px 50px;
	color: white;
	text-align: center;
}

/* Clear floats after the header */
.header:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the input */
input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

/* Add button style and pointer changes */
.addBtn {
	padding: 10px;
	width: 25%;
	background: #676767;
	color: #e8e8e8;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}

.addBtn:hover {
	background-color: #00a037;
}
/*End of TDL*/

/* Geneal Element classes */
.floatLeft {
	float: left;
	padding: 14px 16px;
	border-radius: 50px 20px;
}

.floatRight {
	float: right;
}

p.small {
	font-size: medium;
}

.navbar {
	background-color: #333;
	overflow: hidden;
}

/* Style the anchor tags in the Nav bar */
.navbar a {
	float: left;
	font-family: Arial;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

/* Tab on nav bar inverts colors when hovered */
.navbar a:hover {
	background-color: white;
	color: black;
}

/* Different color on navbar tab when it matches the current page */
.navbar a.active {
	background-color: grey;
	color: white;
}

/*Gallery Section*/
/* Gallery Styling */
.gallery {
	width: fill;
	border: 2px solid black;
	margin: 1px;
	float: inline;
	height: auto;
}

.gallery:hover {
	border: 4px solid white;
}

.gallery img {
	width: 100%;
	height: auto;
}

/* Hover animations, one for pointer and photo animation */
.myImg {
	cursor: pointer;
	transition: 0.5s;
	display: block;

}

.myImg:hover {
	opacity: 0.5;
}

/**/

/*Light box image size*/
.display {
	width: 50%;
	height: auto;
}

/* Create four equal columns that floats next to eachother */
.column {
	float: left;
	width: 25%;
}

/* Modal and lightbox Styles*/
/*modal classes*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

/* Close Button styles */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*  Little bit see-through for next and previous */
.prev:hover {
	background-color: rgba(0, 0, 0, 0.80);
}

.next:hover {
	background-color: rgba(0, 0, 0, 0.80);
}

/* Number text (Ex. 01/20 ... 20/20) */
.numbertext {
	color: white;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

img.demo {
	opacity: 0.6;
}

.active:hover {
	opacity: 1;
}

.demo:hover {
	opacity: 1;
}

/*End of Lightbox*/

/* Keep the footer down */
.footer {
	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;

	font-size: small;
	padding: 0.5%;
	background-color: black;
	color: white;
	text-align: center;
}
